{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>Accounts</h2>
        <p>Use the table below to manage accounts:</p>
        <table class="ui table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Queue Length</th>
                    <th>Interval</th>
                    <th>Last Tweet</th>
                    <th class="right aligned">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for a in accounts %}
                    <tr>
                        <td>{{ a.Name }}</td>
                        <td>{{ a.QueueLength }}</td>
                        <td>{{ a.TweetInterval }}</td>
                        <td>
                            {% if a.LastTweet %}
                                <span data-tooltip="{{ a.LastTweetDate() }}">
                                    {{ a.LastTweetDate()|timesince }}
                                </span>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                        <td class="collapsing">
                            <a href="/accounts/{{ a.ID }}/edit" class="ui mini button">
                                Edit
                            </a>
                            <a href="/accounts/{{ a.ID }}/delete" class="ui negative mini button">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr class="disabled">
                        <td colspan="5">
                            No accounts
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">
                        <a href="/accounts/new" class="ui primary mini button">
                            New
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
