{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>Accounts</h2>
        <p>Use the table below to manage accounts:</p>
        <table class="ui single line table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Interval</th>
                    <th>Last Tweet</th>
                    <th class="right aligned">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for a in accounts %}
                    <tr>
                        <td>{{ a.Name }}</td>
                        <td>{{ a.TweetInterval }}</td>
                        <td>
                            {% if a.LastTweet|integer %}
                                {{ a.LastTweet }}
                            {% else %}
                                &mdash;
                            {% endif %}
                        </td>
                        <td class="collapsing">
                            <form action="/accounts/delete" method="post">
                                <input type="hidden" name="id" value="{{ a.ID }}">
                                <button type="submit" class="ui negative mini button">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr class="disabled">
                        <td colspan="4">
                            No accounts
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">
                        <a href="/accounts/new" class="ui primary mini button">
                            New
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
