<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            anonbot
            {% if title %}
                &mdash; {{ title }}
            {% endif %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="/static/css/semantic.min.css">
            <link rel="stylesheet" href="/static/css/anonbot.css">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <div class="ui container navbar">
                <div class="ui top fixed inverted large menu">
                    <div class="ui container">
                        <a href="/" class="item">
                            Home
                        </a>
                        {% if user %}
                            <a href="/suggestions" class="item">
                                Suggestions
                            </a>
                            <a href="/queue" class="item">
                                Queue
                            </a>
                            {% if user.IsAdmin %}
                                <a href="/accounts" class="item">
                                    Accounts
                                </a>
                                <a href="/users" class="item">
                                    Users
                                </a>
                            {% endif %}
                        {% endif %}
                        <div class="right menu">
                            {% if user %}
                                <a href="/logout" class="item">
                                    Logout
                                </a>
                            {% else %}
                                <a href="/login" class="item">
                                    Login
                                </a>
                                <a href="/register" class="item">
                                    Register
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            <div class="ui inverted vertical footer segment">
                <div class="ui right aligned container">
                    Copyright 2017 &mdash;
                    <a href="https://quickmediasolutions.com">
                        Nathan Osman
                    </a>
                </div>
            </div>
        {% endblock %}

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/semantic.min.js"></script>
        <script src="/static/js/anonbot.js"></script>
    </body>
</html>
