{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>{{ title }}</h2>
        <p>Use the form below to create or edit an account:</p>
        {% if error %}
            <div class="ui negative message">
                Error: {{ error }}
            </div>
        {% endif %}
        <form class="ui form" method="post">
            <div class="field">
                <div class="ui left icon input">
                    <i class="tag icon"></i>
                    <input type="text" placeholder="Name" name="Name" value="{{ form.Name }}">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="privacy icon"></i>
                    <input type="text" placeholder="Consumer key" name="ConsumerKey" value="{{ form.ConsumerKey }}">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="privacy icon"></i>
                    <input type="text" placeholder="Consumer secret" name="ConsumerSecret" value="{{ form.ConsumerSecret }}">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="privacy icon"></i>
                    <input type="text" placeholder="Access token" name="AccessToken" value="{{ form.AccessToken }}">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="privacy icon"></i>
                    <input type="text" placeholder="Access secret" name="AccessSecret" value="{{ form.AccessSecret }}">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="alarm icon"></i>
                    <input type="text" placeholder="Tweet interval (in seconds)" name="TweetInterval" value="{{ form.TweetInterval }}">
                </div>
            </div>
            <button type="submit" class="ui primary button">{{ action }}</button>
        </form>
    </div>
{% endblock %}
