{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>{{ title }}</h2>
        <p>Use the form below to create or edit a user:</p>
        {% if error %}
            <div class="ui negative message">
                Error: {{ error }}
            </div>
        {% endif %}
        <form class="ui form" method="post">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" placeholder="Username" name="Username" value="{{ form.Username }}">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" placeholder="Password (blank to keep value)" name="password">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" placeholder="Confirm password" name="password2">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="text" placeholder="Email" name="Email" value="{{ form.Email }}">
                </div>
            </div>
            {% if user.IsAdmin %}
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="checkbox" name="IsActive"{% if form.IsActive %} checked="checked"{% endif%}>
                        <label>Is active</label>
                    </div>
                  </div>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="checkbox" name="IsAdmin"{% if form.IsAdmin %} checked="checked"{% endif%}>
                        <label>Is admin</label>
                    </div>
                </div>
            {% endif %}
            <button type="submit" class="ui primary button">{{ action }}</button>
        </form>
    </div>
{% endblock %}
