{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>{{ title }}</h2>
        <p>Use the form below to create a new suggestion:</p>
        {% if error %}
            <div class="ui negative message">
                Error: {{ error }}
            </div>
        {% endif %}
        <form class="ui form" method="post">
            <div class="field">
                <select class="ui fluid dropdown" name="AccountID">
                    {% for a in accounts %}
                        <option value="{{ a.ID }}"{% if form.AccountID == a.ID %} selected="selected"{% endif %}>
                            {{ a.Name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="comment icon"></i>
                    <input type="text" placeholder="Text" name="Text" value="{{ form.Text }}">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="photo icon"></i>
                    <input type="text" placeholder="Media URL (blank for none)" name="MediaURL" value="{{ form.MediaURL }}">
                </div>
            </div>
            <button type="submit" class="ui primary button">{{ action }}</button>
        </form>
    </div>
{% endblock %}
