{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="/static/img/anonbot.png" class="ui image">
                </div>
                <div class="content">
                    <a class="header">anonbot</a>
                    <div class="meta">
                        <span>
                            Tool to simplify the management of anon Twitter accounts
                        </span>
                    </div>
                    <div class="description">
                        <div class="ui divider"></div>
                        <p>This tool provides the following features:</p>
                        <ul>
                            <li>Users can register and suggest tweets</li>
                            <li>Admins can edit and queue tweets</li>
                            <li>Multiple accounts are supported</li>
                            <li>Source code <a href="https://github.com/ReformedDevs/anonbot" target="_blank">available on GitHub</a></li>
                        </ul>
                        <p>Current statistics:</p>
                        <ul>
                            <li>
                                <strong>{{ num_users }}</strong>
                                registered user(s)
                            </li>
                            <li>
                                <strong>{{ num_accounts }}</strong>
                                Twitter account(s)
                            </li>
                            <li>
                                <strong>{{ num_suggestions }}</strong>
                                suggested tweet(s)
                            </li>
                            <li>
                                <strong>{{ num_queued_items }}</strong>
                                item(s) in the queue
                            </li>
                        </ul>
                        <div class="ui divider"></div>
                    </div>
                    <div class="extra">
                        {% if user %}
                            <p>
                                You are logged in and can <a href="/suggestions/new">suggest a tweet</a>.
                            </p>
                        {% else %}
                            <p>
                                Please either <a href="/register">register</a> or <a href="/login">login</a> to continue.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
