{% extends "base.html" %}

{% block stylesheets %}
    {{ block.Super|safe }}
    <style>
        body { background-color: #dadada; height: 100%; }
        .login { height: 100%; }
        .login .column { max-width: 400px; }
    </style>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid login">
        <div class="column">
            <form class="ui large form" method="post">
                <div class="ui padded segment">
                    <h2 class="ui header">
                        Login
                    </h2>
                    <p>
                        Don't have an account?
                        <a href="/register">Click here.</a>
                    </p>
                    {% if error %}
                        <div class="ui negative message">
                            Error: {{ error }}
                        </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" placeholder="Username" name="username" value="{{ username }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Password" name="password" value="{{ password }}">
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large primary button">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
