{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>New Suggestion</h2>
        <p>Use the form below to create a new suggestion:</p>
        {% if error %}
            <div class="ui negative message">
                Error: {{ error }}
            </div>
        {% endif %}
        <form class="ui form" method="post">
            <div class="field">
                <select class="ui fluid dropdown" name="account_id">
                    {% for a in accounts %}
                        <option value="{{ a.ID }}">{{ a.Name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="comment icon"></i>
                    <input type="text" placeholder="Text" name="text" value="{{ text }}">
                </div>
            </div>
            <button type="submit" class="ui primary button">Create</button>
        </form>
    </div>
{% endblock %}
