{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>Queue</h2>
        <p>Queued tweets are shown below.</p>
        <table class="ui table">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Text</th>
                    <th class="center aligned">Media</th>
                    <th>Author</th>
                    {% if user.IsAdmin %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for q in queue %}
                    <tr>
                        <td>{{ q.Account.Name }}</td>
                        <td>{{ q.Text }}</td>
                        <td class="center aligned">
                            {% if s.MediaURL %}
                                <a href="{{ s.MediaURL }}" target="_blank">
                                    <i class="external icon"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% with u=q.User date=q.Date %}
                                {% include "fragments/profile.html" %}
                            {% endwith %}
                        </td>
                        {% if user.IsAdmin %}
                            <td class="collapsing">
                                <a href="/queue/{{ q.ID }}/delete" class="ui negative mini button">
                                    Delete
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr class="disabled">
                        <td colspan="{% if user.IsAdmin %}5{% else %}4{% endif %}">
                            No queued items
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
