{% extends "base.html" %}

{% block stylesheets %}
    {{ block.Super|safe }}
    <style>
        body { background-color: #dadada; height: 100%; }
        .register { height: 100%; }
        .register .column { max-width: 400px; }
    </style>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid register">
        <div class="column">
            <form class="ui large form" method="post">
                <div class="ui padded segment">
                    <h2 class="ui header">
                        Register
                    </h2>
                    <p>
                        Already registered?
                        <a href="/login">Click here.</a>
                    </p>
                    {% if error %}
                        <div class="ui negative message">
                            Error: {{ error }}
                        </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" placeholder="Username" name="username" value="{{ username }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Confirm password" name="password2">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" placeholder="Email" name="email" value="{{ email }}">
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large primary button">Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
