{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>Suggestions</h2>
        <p>The table below shows all current suggestions:</p>
        <table class="ui table">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Text</th>
                    <th>Author</th>
                    {% if user.IsAdmin %}
                        <th class="right aligned">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for s in suggestions %}
                    <tr>
                        <td>{{ s.Account.Name }}</td>
                        <td>{{ s.Text }}</td>
                        <td class="collapsing">
                            {% with u=s.User date=s.Date %}
                                {% include "fragments/profile.html" %}
                            {% endwith %}
                        </td>
                        {% if user.IsAdmin %}
                            <td class="collapsing">
                                <a href="/suggestions/{{ s.ID }}/queue" class="ui primary mini button">
                                    Queue
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr class="disabled">
                        <td colspan="{% if user.IsAdmin %}4{% else %}3{% endif %}">
                            No suggestions
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="{% if user.IsAdmin %}4{% else %}3{% endif %}">
                        <a href="/suggestions/new" class="ui primary mini button">
                            New
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
