{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>Suggestions</h2>
        <p>The table below shows all current suggestions:</p>
        <table class="ui single line table">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Text</th>
                    <th>Author</th>
                    {% if user.IsAdmin %}
                        <th class="right aligned">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for s in suggestions %}
                    <tr>
                        <td>{{ s.Account.Name }}</td>
                        <td>{{ s.Text }}</td>
                        <td class="collapsing">
                            <div class="ui mini horizontal list">
                                <div class="item">
                                    <img class="ui avatar image" src="//gravatar.com/avatar/{{ s.User.Email|md5 }}?s=32&d=identicon">
                                    <div class="content">
                                        <div class="ui sub header">
                                            {{ s.User.Username }}
                                        </div>
                                        {{ s.Date }}
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% if user.IsAdmin %}
                            <td class="collapsing">
                                <a href="/suggestions/{{ s.ID }}/queue" class="ui primary mini button">
                                    Queue
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr class="disabled">
                        <td colspan="{% if user.IsAdmin %}4{% else %}3{% endif %}">
                            No suggestions
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="{% if user.IsAdmin %}4{% else %}3{% endif %}">
                        <a href="/suggestions/new" class="ui primary mini button">
                            New
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
