{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>Suggestions</h2>
        <p>The table below shows all current suggestions:</p>
        <table class="ui table">
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Text</th>
                    <th class="center aligned">Media</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for s in suggestions %}
                    <tr>
                        <td>{{ s.Account.Name }}</td>
                        <td>{{ s.Text }}</td>
                        <td class="center aligned">
                            {% if s.MediaURL %}
                                <a href="{{ s.MediaURL }}" target="_blank">
                                    <i class="external icon"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% with u=s.User date=s.Date %}
                                {% include "fragments/profile.html" %}
                            {% endwith %}
                        </td>
                        <td class="collapsing">
                            {% if user.IsAdmin or s.UserID == user.ID %}
                                <a href="/suggestions/{{ s.ID }}/edit" class="ui mini button">
                                    Edit
                                </a>
                            {% endif %}
                            {% if user.IsAdmin %}
                                <a href="/suggestions/{{ s.ID }}/queue" class="ui primary mini button">
                                    Queue
                                </a>
                            {% endif %}
                            {% if user.IsAdmin or s.UserID == user.ID %}
                                <a href="/suggestions/{{ s.ID }}/delete" class="ui negative mini button">
                                    Delete
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr class="disabled">
                        <td colspan="5">
                            No suggestions
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5">
                        <a href="/suggestions/new" class="ui primary mini button">
                            New
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
