{% extends "base.html" %}

{% block content %}
    <div class="ui container">
        <h2>{{ title }}</h2>
        <p>Use the tools below to interact with the account:</p>
        <h4 class="ui dividing header">Tweet</h4>
        <p>Send a tweet directly from the account using the button below:</p>
        <a href="#" class="ui labeled icon primary button tweet">
            <i class="twitter icon"></i>
            Tweet
        </a>
        <h4 class="ui dividing header">Mentions</h4>
        <div class="ui comments">
            {% for m in mentions %}
                {% if forloop.Counter0 %}
                    <div class="ui divider"></div>
                {% endif %}
                <div class="comment">
                    <a class="avatar">
                        <img src="{{ m.User.ProfileImageURL }}">
                    </a>
                    <div class="content">
                        <a class="author">{{ m.User.Name }}</a>
                        <div class="metadata">
                            <a href="https://twitter.com/statuses/{{ m.Id }}" target="_blank" class="date">
                                {{ m.CreatedAt }}
                            </a>
                        </div>
                        <div class="text">
                            {{ m.Text }}
                        </div>
                        <div class="tweet actions"
                             data-tweet-id="{{ m.Id }}"
                             data-tweet-user="{{ m.User.ScreenName }}">
                            <a href="#" class="reply">
                                <i class="reply icon"></i>
                                Reply
                            </a>
                            &nbsp;
                            <span class="like">
                                <a href="#"{% if m.Favorited %} class="hidden"{% endif %}>
                                    <i class="heart icon"></i>
                                    Like
                                </a>
                                <span class="text-success{% if not m.Favorited %} hidden{% endif %}">
                                    <i class="heart icon"></i>
                                    Liked
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="ui mini modal tweet">
        <div class="header">
            Tweet
        </div>
        <div class="content">
            <div class="ui error message"></div>
            <div class="ui form">
                <div class="field">
                    <div class="ui fluid input">
                        <textarea rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <button type="button" class="ui primary approve button">Send</button>
            <button type="button" class="ui deny button">Cancel</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.Super|safe }}
    <script>

        $(function() {

            // Set up the modal
            var $modal = $('.tweet.modal').modal({
                    closable: false,
                    duration: 0
                }),
                $error = $('.error', $modal),
                $textarea = $('textarea', $modal),
                $sendButton = $('.approve.button', $modal),
                $controls = $textarea.add($('.button', $modal));

            var curTweetId;

            // Set the handlers
            $modal.modal('setting', 'onShow', function() {
                $error.hide();
            });
            $modal.modal('setting', 'onApprove', function() {
                $sendButton.addClass('loading');
                $controls.prop('disabled', true);
                window.ajax('tweet', {
                    account_id: "{{ account.ID }}",
                    tweet_id: curTweetId,
                    text: $textarea.val()
                })
                .done(function() {
                    $modal.modal('hide');
                })
                .fail(function(jqXHR) {
                    $error.text(jqXHR.responseText).show();
                })
                .always(function() {
                    $sendButton.removeClass('loading');
                    $controls.prop('disabled', false);
                });
                return false;
            });

            // Process the primary tweet button
            $('.tweet.button').click(function() {
                curTweetId = '';
                $textarea.val('').focus();
                $modal.modal('show');
            });

            // Process the individual tweet actions
            $('.tweet.actions').each(function() {

                // Retrieve the tweet ID and username
                var tweetId = $(this).data('tweet-id').toString(),
                    tweetUser = $(this).data('tweet-user').toString();

                // Show the dialog when reply is clicked
                $(this).find('.reply').click(function() {
                    curTweetId = tweetId;
                    $textarea.val('@' + tweetUser + ' ').focus();
                    $modal.modal('show');
                });

                var $like = $(this).find('.like'),
                    $a = $('a', $like),
                    $success = $('.text-success', $like);

                // Like the tweet when clicked
                $a.click(function() {
                    window.spinner($a,
                        window.ajax('like', {
                            account_id: "{{ account.ID }}",
                            tweet_id: tweetId
                        })
                        .done(function() {
                            $a.addClass('hidden');
                            $success.removeClass('hidden');
                        })
                        .fail(function(jqXHR) {
                            window.error(jqXHR.responseText);
                        })
                    );
                });
            });
        });

    </script>
{% endblock %}
