/**
 * Custom CSS Rules
 */

body {
    height: auto;
    min-height: 100%;
    padding-bottom: 144px;
    padding-top: 72px;
    position: relative;
}

textarea {
    height: auto;
}

.footer {
    bottom: 0;
    margin-top: 40px !important;
    padding: 40px 0 !important;
    position: absolute !important;
    width: 100%;
}

.text-error {
    color: #db2828;
}

.text-success {
    color: #00b5ad;
}

.ui.message {
    margin-bottom: 24px !important;
}

/* Enforce a smaller max width */
@media only screen and (min-width: 992px) {
    .ui.container {
        width: 933px !important;
    }
}
